<!-- Contact.razor -->
@page "/about"

<h2>About Developer</h2>
<br />
<h4>Hi, this is Akshay</h4>
<br />
<p>Iam a .NET Full Stack Developer currently holding the skills such as C#,WinForms,ASP.NET Core, Blazor.</p>
<p>Currently interested in deep-dive of ASP.NET Full Stack.</p>

